@mixin flex($direction, $ai, $jc) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flex-ai($direction, $ai) {
  display: flex;
  flex-direction: $direction;
  align-items: $ai;
}

@mixin flex-jc($direction, $jc) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
}
